/*This is a CSS file*/

/*This should grab all the text and make it Georgia font, with a backup of serif*/
* {
	font-family: Georgia,
	serif;
}

/*This should make the caption gray*/
figcaption {
	color: gray;
}

/*This should set the maximum space for the image and caption*/
figure {
	max-width: 600px;
}

/*This allows the image to take up full space of above figure box*/
img {
	max-width: 100%;
}

/*This should put the headline in all caps*/
h1 {
	text-transform: uppercase;
}

/*This should make all the Republican names red*/
.red{
	color: red;
}

/*This should make all the Democrat names blue*/
.blue{
	color:blue;
}

/*This should make the footer gray*/
h6 {
	color: gray;
}